
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(248, 155, 223);
  background: linear-gradient(90deg, rgba(248, 155, 223, 1) 0%, rgba(227, 150, 255, 1) 50%, rgba(194, 240, 241, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  text-align: center;
}


.bttn1, .bttn2 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;  
  font-weight: 600;  
  height: 50px;  
  line-height: 24px;  
  padding: 14px 20px;  
  text-align: center;
  transition: background-color 100ms;
  width: 270px; 
  margin: 12px 0; 
}

.bttn1:hover,
.bttn1:focus,
.bttn2:hover,
.bttn2:focus {
  background-color: #F082AC;
}


input[type="text"] {
  padding: 14px;  
  margin: 12px 0;  
  font-size: 18px;  
  width: 100%;
  max-width: 270px; 
  border-radius: 5px;
  border: 1px solid #ccc;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;  
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}


ul {
  list-style: none; 
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

li {
  background-color: #ffffff;
  padding: 18px;  
  margin: 12px 0;  
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1); 
  font-size: 18px;  
  color: #333;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

li:hover {
  background-color: #f9f9f9;
  cursor: pointer; 
}

li span {
  font-weight: bold; 
}

li button {
  background-color: #F082AC;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 16px; 
  padding: 8px 14px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

li button:hover {
  background-color: #EA4C89;
}
